<aside>
  <article> Template demo </article>
  <main>
    <dff-card-z>
      <h2> <i class="fa fa-user"></i> </h2>
    </dff-card-z>

    <div style="width: 100%" align="left">
      <ngx-prism language="html" [code]="htmlContent1"> </ngx-prism>
    </div>

    <dff-card-z shadow=true align="left">
      <h2> <i class="fa fa-user"></i> </h2>
    </dff-card-z>




    <dff-card-z shadow=true align="left" bg="#f1f5f9" maxWidth="90% ">
      <ngx-prism language="html" [code]="htmlContent2"> </ngx-prism>
    </dff-card-z>


  </main>
</aside>