<aside>
    <article> Template demo </article>
    <main>

        <dff-card-s>
            <main style="background-color: red">
                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>

                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>

                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>


                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>


                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>


                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>


                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>


                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>


                <h2>Main content</h2>
                <p>Scroll down the page!</p>
                <h3>How to recreate this</h3>

            </main>
            <aside style="background-color: green" style="height: 200px">
                <h3>Sticky sidebar</h3>
            </aside>
        </dff-card-s>

    </main>
</aside>