<aside>
    <article>card 04</article>
    <br />
    <main>
        <!-- <div style="width: 100%" align="left">
            <ngx-prism language="html" [code]="htmlContent1"> </ngx-prism>
        </div> -->

        <dff-card-s>
            <main style="background-color: whitesmoke">
                <div>
                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>

                    <h2>Main content</h2>
                    <p>Scroll down the page!</p>
                    <h3>How to recreate this</h3>
                    <!-- <ngx-prism language="html" [code]="htmlContent1">
                    </ngx-prism> -->
                </div>
            </main>
            <aside
                style="background-color: green; height: 200px; overflow: hidden;"
            >
                <h3>Sticky sidebar</h3>
            </aside>
        </dff-card-s>
        <br />
    </main>
</aside>
