<aside>
  <article>Card 05</article>
  <main style="width: 100%">
    <dff-card-l [inputData]="dataList" [gap]="4" type="flex">
      <ng-template let-ele #itemTempl>
        <div style="display: flex">
          <dff-card-c [img]="ele.img" height="200px" dir="top">
            <h2>{{ ele.name }}</h2>
          </dff-card-c>
        </div>
      </ng-template>
    </dff-card-l>

    <div class="card-code" style="width: 100%" left>
      <ngx-prism language="html" [code]="getHtmlContent1()"> </ngx-prism>
    </div>
  </main>
</aside>
