<aside>
  <article> CARD 07 </article>
  <main style="width: 100%">
    <dff-card-m>
      <ul>
        <li>
          <a href='#'> <i class="fa fa-user"> </i> Home</a>
        </li>
        <li>
          <a href='#'> <i class="fa fa-user"> </i> About</a>
        </li>
        <li>
          <a href='#'> <i class="fa fa-user"> </i> Work</a>
        </li>
      </ul>
    </dff-card-m>

    <div class="card-code">
      <ngx-prism language="html" [code]="htmlContent1"> </ngx-prism>
    </div>


  </main>
</aside>